<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>IF문</title>
</head>
<body>
	<table border = "1" cellspacing = "0" cellpadding="0">
		<tr>
			<th>아이디</th>
			<th>이름</th>
			<th>이메일</th>
			<th>나이</th>
		</tr>
		<tr th:each="memberDto,status:${memberDtos}">
			<td th:text="${memberDto.id}">아이디</td>
			<td th:text="${memberDto.name}">이름</td>
			<td th:text="${memberDto.email}">이메일</td>
			<td th:text="${memberDto.age}">나이</td>
		</tr>
	</table>
</body>
</html>