<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>IF문</title>
</head>
<body>
	<h2>thymeleaf if문 연습</h2>
	<span th:if="${10>1}">10은 1보다 크다</span>
	<span th:if="${10<1}">10은 1보다 작다</span>
	<hr>
	<span th:if="${str == 'OK'}">OK</span>
	<span th:unless="${str == 'OK'}">NO</span>
	<hr>
	<table border = "1" cellspacing = "0" cellpadding="0">
		<tr>
			<th>번호</th>
			<th>아이디</th>
			<th>이름</th>
			<th>이메일</th>
			<th>나이</th>
			<th>나이확인</th>
		</tr>
		<!-- <c:foreach items="${memberDtos}" var="memberDto">  -->
		<tr th:each="memberDto,status:${memberDtos}">
			<td th:text="${status.index}+1">번호</td>
			<td th:text="${memberDto.id}">아이디</td>
			<td th:text="${memberDto.name}">이름</td>
			<td th:text="${memberDto.email}">이메일</td>
			<td th:text="${memberDto.age}">나이</td>
			<td th:if="${memberDto.age >= 20}">성인</td>
			<td th:unless="${memberDto.age >= 20}">미성년</td>
			
		</tr>
	</table>
</body>
</html>